<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Corrected.Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1358.0" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1620.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Server" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
</packages>